# Node modules
node_modules/

# VSCode settings
.vscode/

# Output directory
out/

# Test files
test/testWorkspace/

# VSCode extension packaging
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

file_context.txt

.vscode-test/